.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "dis dis dis dis"
    "AC C div times"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal"
    ;
}

.padbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: #696969;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px; 
}

.padbutton:hover {
    border: 1px solid white;
    color: #ccc
}

.red {
    background-color: #ff6666;
}

.dark-gray {
   background-color: #333; 
}

.blue {
    background-color: #0a75ad;
}

.dis {
    grid-area: dis;
    background-color: black;
    font-family: 'ds-digital';
    font-size: 20px;
    text-align: right;
}

.dis input {
    width: 90%;
    color: white;
    padding: 5px 20px;
    text-align: right;
    background-color: black;
    font-family: 'ds-digital';
    font-size: 16px;
}

input::placeholder {
    color: white;
}

.total {
    padding: 5px 20px;
    color: yellow;
}

.zero {
    grid-area: zero;
}

.equal {
    grid-area: equal;
}